services:
  # 1. Cơ sở dữ liệu PostgreSQL
  db:
    image: postgres:15
    container_name: auth-postgres
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - auth-network

  # 2. Ứng dụng Spring Boot
  app:
    build: .
    container_name: auth-app
    restart: on-failure
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      # Ghi đè cấu hình DB để trỏ vào container 'db' thay vì 'localhost'
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/postgres
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 123456
      # Đường dẫn file keys bên trong container
      JWT_PRIVATE_KEY_FILE: /app/secrets/jwt_private.pem
      JWT_PUBLIC_KEY_FILE: /app/secrets/jwt_public.pem
    volumes:
      # Ánh xạ thư mục secrets từ máy thật vào container để lấy RSA keys
      - ./secrets:/app/secrets
    networks:
      - auth-network

networks:
  auth-network:
    driver: bridge

volumes:
  postgres_data: